.list {
  margin-top: 20px;
  list-style: none;
  padding: 1%;
}

.item {
  height: 50px;
  width: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.names{
    font-size: 20px;
}

.number {
    font-size: 20px;
    margin-left: 15px;
}

.button{
    cursor: pointer;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
}

.button:hover,
.button:focus {
    color: aliceblue;
background-image: linear-gradient(
    to top left,
    blue,
    red
);
}